<STYLE TYPE="text/css">
<!--
/**************************************************************
********* Formatting For Month Table and Text *****************
**************************************************************/

A		{ font-family:Arial, Helvetica, sans-serif; color:#00F; text-decoration:underline }
SPAN	{ font-family:Arial, Helvetica, sans-serif; }
TD     	{ font-family:Arial, Helvetica, sans-serif; }
BODY	{ background-color:#FFF }

/**** month and year header at top of calendar ****/
.date_header			{ font-size:16px; font-family: Arial, Helvetica, sans-serif; font-weight:bold }

/**** color and size of calendar cells.  ****/
.day_cell				{ background-color:#EDECD8; height:80px; width: 85px; }
.empty_day_cell			{ background-color:#EEEEEE; height:80px; width: 85px; }
.today_cell				{ background-color:#F5F4ED; height:80px; width: 85px; }

/**** day number in upper left corner of each cell ****/
.day_number				{ font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#000 }

/**** title_txt is the text for each post on main page ****/
.title_txt				{ font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#000 }
.title_txt A:link		{ color:#0281aa; text-decoration:none; }
.title_txt A:active		{ color:#0281aa; text-decoration:none; }
.title_txt A:visited	{ color:#0281aa; text-decoration:none; }
.title_txt A:hover		{ color:#0281aa; text-decoration:none; }

/**** time line under title text when event time given ****/
.time_str				{ font-size:12px; font-family:Arial, Helvetica, sans-serif; }

/**** column headers or days of the week ****/
.column_header			{ background-color:#0281aa; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold }

/**** footprint text ****/
.footprint				{ font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:bold; }
.footprint A			{ font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#00F; font-weight:bold; }
// end hiding -->
</STYLE>
