@charset "utf-8";
/* CSS Document */

textarea {
  resize: none;
}
img{
border:none;	
}

.select {
font-size:16px;	
}

/*input[type="text"]
{
font-size:16px;	
}*/

/*input[type="select"]
{
font-size:16px;	
}*/

   ul.cssMenu, ul.cssMenu ul
        {
        	list-style:none;
        	margin:0; padding:0;
        	position: relative;
        }
		
		/*Style for 1st level menu header*/
        ul.cssMenu li
        { 
        	position: relative; 
        	float: left; 
        	zoom: 1; /*Needed for IE*/
        	background: #DDDDDD; /*background color of menu header (1st level)*/
        }
        ul.cssMenu li:hover
        { 
        	background: #d3e8ef;
			/*background color of menu header (1st level) on hover*/; 
        }
        ul.cssMenu li a
        {
			/*Menu link styles*/
        	display: block; 
        	 
        	
        	font-family: Arial, Times New Roman, Tahoma;
        	font-size: 12px;
        }
        
        /* Building menu items - for 2nd and more level menu items*/
        ul.cssMenu ul 						
        { 
        	display:none; /*initially menu item is hidden*/
        	position: absolute; /*absolute positioning is important for menu to float*/
			 
			
			/*Formating of menu items*/
        	border:1px solid #AAAAAA;
        	padding:1px;
        	background:#FFFFFF;
			opacity:0.6;
			/*optional - to change position of 2nd level menu item*/
			top: 100%; 
        	left: 0; 
        }
        ul.cssMenu ul li
        { 
        	background: #FFF; 
			
        	color: #000; 
			border-bottom: 1px solid #DDDDDD; 
			float: none; 
		}
									  
        ul.cssMenu ul li a
        { 
        	 
        	display: block; 
        	color:#000000;
        } 

        /* Menu item position for 3rd level and more */
        ul.cssMenu ul ul
        { 
        	left: 100%; 
        	top: 0; 
        }
        
        /* Hover effect for menu*/
        ul.cssMenu li:hover > ul 			
        { 
        	display:block;
        }
				
		
.link_map
{
color:#333;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:13px;text-decoration:none;	
}


.landing_box
{
-moz-border-radius-bottomleft:10px;
 -moz-border-radius-bottomright:10px;

 -webkit-border-bottom-left-radius:10px;
 -webkit-border-bottom-right-radius:10px;	
}

.curved {

 -moz-border-radius-topleft:10px;
 -moz-border-radius-topright:10px;

 -webkit-border-top-left-radius:10px;
 -webkit-border-top-right-radius:10px;


}

.top {

-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px; 

-khtml-border-top-left-radius: 10px;
-khtml-border-top-right-radius: 10px; 

-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;

border-top-left-radius: 10px;
border-top-right-radius: 10px; 

overflow:hidden;
}

.top a {
	display:block;
	width:205px;
	height:38px;
/*background-color:#e5eef7;	
*/
}

.top a:hover {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px; 

-khtml-border-top-left-radius: 10px;
-khtml-border-top-right-radius: 10px; 

-moz-border-radius-topright: 10px;
-moz-border-radius-topleft: 10px;

border-top-left-radius: 10px;
border-top-right-radius: 10px; 

overflow:hidden;	
background-color:#e5eef7;	
width:185px;
height:38px;
}



.navside a {
	display:block;
	width:205px;
	height:38px;
/*background-color:#e5eef7;	
*/
}

.navside a:hover {
background-color:#e5eef7;	
width:202px;
height:38px;
}

.navside2 a {
	display:block;
	width:187px;
	height:38px;
/*background-color:#e5eef7;	
*/
}

.navside2 a:hover {
background-color:#e5eef7;	
width:184px;
height:38px;
}

.navside3 a {
	-moz-border-radius-bottomleft:10px;
 -moz-border-radius-bottomright:10px;

 -webkit-border-bottom-left-radius:10px;
 -webkit-border-bottom-right-radius:10px;
	display:block;
	width:187px;
	height:38px;
/*background-color:#e5eef7;	
*/
}

.navside3 a:hover {
background-color:#e5eef7;	
width:184px;
height:38px;
}

.submit
{
background-image:url(../img/buttonbak.png);	


-webkit-border-radius: 5px;


-khtml-border-radius: 5px;
 

-moz-border-radius: 5px;


border-radius: 5px;
/*behavior: url(../border-radius.htc);*/
overflow:hidden;
/*
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;*/
 
 border:none;
 width:90px;
 height:28px;
 text-align:center;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
 cursor:pointer;

}

.submit:hover 
{
background-image:url(../img/buttonbak2.png);	
/* -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 */
 
 
 -webkit-border-radius: 5px;


-khtml-border-radius: 5px;
 

-moz-border-radius: 5px;


border-radius: 5px;
/*behavior: url(../border-radius.htc); */
overflow:hidden;

 border:none;
  width:90px;
 height:28px;
 text-align:center;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;

}

.button_like {
background-image:url(../img/buttonbak.png);	
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 
 border:none;
 width:90px;
 height:28px;
 text-align:center;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
 cursor:pointer;

}

.button_like:hover {
background-image:url(../img/buttonbak2.png);	
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 
 border:none;
  width:90px;
 height:28px;
 text-align:center;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
 cursor:pointer;
}

.submit2
{
background-image:url(../img/nav_black_bak.png);	
/* -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 
 */
 
-webkit-border-radius: 5px;


-khtml-border-radius: 5px;
 

-moz-border-radius: 5px;


border-radius: 5px;
/*behavior: url(../border-radius.htc); */
overflow:hidden; 
 
 
 border:none;
 padding:7px 15px 7px 15px;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;

}

.submit2:hover
{
background-image:url(../img/nav_black_bak2.png);		
/* -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 */
 
-webkit-border-radius: 5px;


-khtml-border-radius: 5px;
 

-moz-border-radius: 5px;


border-radius: 5px;
 
/*behavior: url(../border-radius.htc);*/

overflow:hidden; 
 
 
 border:none;
 padding:7px 15px 7px 15px;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;

}

.sitemap {
font-weight: lighter;
text-decoration:none;
color:#98e4fe;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;	
}

.sitemap:hover {
text-decoration:none;
font-weight: lighter;
color:#fdf134;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;	
}



.submit4
{
background-color:#282d30;	
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 
 border:none;
 padding:2px 10px 2px 10px;
 color:#cfdbde;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;

}

.submit3
{
background-color:#FFF;	
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 
 border:none;
 padding:2px 10px 2px 10px;
 color:#333;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;

}



.search
{	
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 
 border:none;
 padding:4px 15px 4px 15px;

 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
width:213px;
}


#blanket {
background-color:#111;
opacity: 0.9;
filter:alpha(opacity=90);
position:fixed;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}
#popUpDiv {
position:fixed;
background-color:#0285b0;
width:450px;
height:500px;
margin-top:-450px;
margin-left:-80px;
z-index: 9002;

 border-style: solid;
 border-width: 2px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}

#container
{

background-color:#FFF;
width:430px;
height:400px;
margin-left:8px;
margin-top:10px;
padding-bottom:10px;
 border-style: solid;
 border-width: 2px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;	
}

#contact_list
{
	
overflow:auto;
background-color:#FFF;
width:400px;
height:360px;
margin-left:13px;
margin-top:15px;
border:1px solid #CCC;
}

.todo {

}


.tablink {
	text-decoration:none;
	color:#333;
	font-size:13px;
	font-weight:500;
}


#footer_not_underline {
text-decoration:none;color:#FFF;
}

#footer_not_underline:hover {
text-decoration:underline;
color:#FFF;
}

/* noel CSS revisions */
.sidebar_message > div {
    border: 1px solid #CCD3DA;
    float: left;
    height: 38px;
    width: 90%;
}
.sidebar_message > div.active {
	background-color: #d8e0e8;
}
.sidebar_message > div  {
	background-color: #FFFFFF;
    border: 1px solid #CCD3DA;
    float: left;
    height: 38px;
    width: 90%;
}
.sidebar_message > div:hover {
	background-color: #e5eef7;
}

.sidebar_message > div:first-child {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px; 
	-khtml-border-top-left-radius: 10px;
	-khtml-border-top-right-radius: 10px; 
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
}
.sidebar_message > div:last-child, .navside3 {
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
	-webkit-border-bottom-left-radius: 10px; 
	-webkit-border-bottom-right-radius: 10px; 
	-khtml-border-bottom-left-radius: 10px; 
	-khtml-border-bottom-right-radius: 10px; 
	-moz-border-radius-bottomright: 10px; 
	-moz-border-radius-bottomleft: 10px;
}
.sidebar_message > div a {
	color: #333333;
	text-decoration: none;
}
.sidebar_message > div.active a {
	color: #1484b0;
}
.sidebar_message a > span {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 8px;
}


.top_menu > div {
    background-color: #FFFFFF;
    border: 1px solid #CCD3DA;
    float: left;
    padding: 8px;
    width: 115px;
}
.top_menu > div:first-child {
    border-radius: 10px 0 0 10px;
}
.top_menu > div:last-child {
    border-radius: 0 10px 10px 0;
}
.top_menu > div.active {
	background-color: #d8e0e8;
}
.top_menu > div.active a {
    background-color: #D8E0E8;
    border-radius: 0 0 0 0;
    color: #1484B0;
    height: auto;
    width: auto;
}
.top_menu > div.active a:hover {
	background-color: #E5EEF7;
}
.top_menu > div:hover, .top_menu > div:hover a {
	background-color: #e5eef7;
}
.top_menu > div a {
    color: #333333;
    height: auto;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.top_menu > div a:hover {
    color: #333333;
    height: auto;
    text-decoration: none;
    width: auto;
}
.top_menu a > span {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}

.landing_center_blue {
    background-image: url("../img/landing_center_blue.png");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    padding: 9px 20px;
}

.header span {
    color: #FFFFFF;
    font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    font-size: 20px;
}

.notification_alert {
	width: 50%;
	float: left;
}
.notification_alert table td {
	border-bottom: 1px dotted #333333;
	text-align: right;
}
.notification_alert table td:first-child {
	width: 215px;
}

.btn_design {
    background-image: url("../img/buttonbak.png");
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #CFDBDE;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1;
    overflow: hidden;
    padding: 5px 15px;
    text-align: center;
}
.btn_design:hover {
    background-image: url("../img/buttonbak2.png");
}
.input_txt_design {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 4px 15px;
    width: 213px;
}
.addpatient a {
	text-decoration: none;
}
.search {
	background-color: #eee;
}