/* 
    Document   : style_new
    Created on : Aug 27, 2013, 5:48:06 PM
    Author     : Albert
    Description:
        Purpose of the stylesheet follows.
*/

@font-face
{
	font-family: gill_Sans_Light;
	src: url('../fonts/Gill Sans MT Light_1.ttf');
}

@font-face
{
	font-family: gill_Sans_MT;
	src: url('../fonts/Gill Sans MT_1.ttf');
}

*
{
    color: #4C4C4C;
}

.navbar-header
{
    margin: 0 0 0 5%;
}

#menu.navbar, #menu.navbar .navbar-inverse, #menu.navbar .navbar-fixed-top, #menu.navbar .navbar-inner
{
    background-color: transparent;
    background-image: url('../img/header_bg.png');
    border:none;
}

#menu.navbar .nav
{
    margin: 50px 5% 0 0;
}

#menu.navbar .btn-navbar
{
    background-color: #c3c3c3;
    background-image: none;
}

#menu .brand
{
    margin: 10px 0 0;
    
}

#menu .brand img
{
    float: left;
    max-height: 90px;
}

#menu.navbar .nav > li > a
{
    color: #4c4c4c; 
    text-shadow: none;
    font-size: 16px;
    background-color: transparent;
}

#menu.navbar .nav > li > a:hover,
#menu.navbar .nav > li.active
{
    color: #00aeef;
    background-image: none;
}

.fake_div
{
    float: left;
    width: 100%;
    height: 200px;
}

.wrapper
{
    padding-top: 140px;
}

.head_content {
	background-color: transparent;
}
.head_content h1 {
	font-size: 50px;
	font-family: helvi;
        margin-bottom: 12px;
}

.head_content p
{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
}

.head_content h1 span {
    color: #00AEEF;
}

.btn_margin
{
    margin: 0 0 10px 0;
}

.wrapper .head_video_container .menu .btn {
    background-color: #00AEEF;
    border-radius: 10px 10px 10px 10px;
    padding: 12px;
    text-align: center;
}

.wrapper .head_video_container .menu #watch
{
    background-color: #fa6c1a;
}

.wrapper .head_video_container .menu .btn:hover,
.wrapper .head_video_container .menu #watch:hover
{
    background-color: #0093ca;
    border-radius: 10px;
}


.wrapper .head_video_container .img_holder
{
    float: left;
    width: 100%;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    
}

.wrapper .head_video_container .img_holder img
{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 900px;
}

.wrapper .content
{
    float: left;
    width: 100%;
    margin: 20px 0 0;
}

.wrapper .content .leftpanel
{
    float: left;
    width: 42%;
    margin: 0 0 0 8%;   
}

.wrapper .content .leftpanel .feature
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper .content .leftpanel .feature h2
{
    font-family: helvi;
    font-size: 36px;
}

.wrapper .content .leftpanel .feature p
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 0 20px;
    font: normal 16px Arial, sans-serif;
    line-height: 26px;
}

.wrapper .content .leftpanel .feature .skyblue
{
    color: #00aeef;
    padding: 20px 0;
    text-transform:uppercase;
    font-family: helvi;
}

.wrapper .content .leftpanel .feature img
{
    float: left;
    margin: 20px 0;
    padding: 0;
    min-height: 110px;
}

.wrapper .content .rightpanel
{
    float: right;
    width: 42%;
    margin: 0 3% 0 0;   
}

.wrapper .content .rightpanel .feature
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper .content .rightpanel .feature p
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 5%;
    font: normal 16px Arial, sans-serif;
    line-height: 26px;
}

.wrapper .content .rightpanel .feature .skyblue
{
    color: #00aeef;
    padding: 20px 0 20px 5%;
    text-transform:uppercase;
    font-family: helvi;
}

.wrapper .content .feature img
{
	width: 100%;
}

#footer
{
    float: left;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fafafa;
    padding: 10px 0;
}
#footer .link {
    float: left;
    margin: 4% 6% 0 0;
    padding: 10px 0;
    text-align: center;
    width: 30%;
}
#footer .logo_footer {
    float: left;
    margin: 0 10% 0 0;
    padding: 10px 0;
    text-align: center;
    width: 30%;
}
#footer .company {
    float: right;
    margin: 6% 0 0;
    text-align: center;
    width: 24%;
}
#footer .company p {
    color: #00A6E5;
}
#footer .company p a {
    color: #000000;
    text-decoration: none;
}
#footer .company p a:hover {
    text-decoration: underline;
}

.holder
{
    float: left;
    width: 100%;
    padding-bottom: 50px;
}



/* contact */

.contact_container
{
    float: left;
    width: 80%;
    margin: 0 0 30px 10%;
    font-family: helvi;
    -webkit-box-shadow : 0 2px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow    : 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow         : 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* added */

.wrapper .content .row
{
    margin: 0;
}

.wrapper .content .row h2
{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
}

.wrapper .content .row .tbl_pricing
{
    text-align: center;
    text-transform: uppercase;
    font:normal 14px arial;
    border: 2px solid #8c8c8c;
    margin-bottom: 30px;
}

.wrapper .content .row .tbl_pricing th
{
    font:bold 20px arial;
    padding: 10px 0;
    width: 30%;
    border: 2px solid #8c8c8c;
    color: #464646;
    text-align: center;
}
.wrapper .content .row .tbl_pricing td
{
    font:normal 14px arial;
    color: #464646;
    padding: 10px 0;
    width: 30%;
    border: 2px solid #8c8c8c;
    text-transform: uppercase;
}

/* Contact */

.shadow
{
    font-family: helvi;
    -webkit-box-shadow : 0 2px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow    : 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow         : 0 2px 10px rgba(0, 0, 0, 0.1);
}


.container .col-md-6 .info
{
    float: left;
    margin: 2% 0 0 4%;
    padding: 0;
    font-family: helvi;
}

.container .col-md-6 .info h2
{
    float: left;
    width: 100%;
    font-family: helvi;
}

.container .col-md-6 .info p
{
    float: left;
    width: 100%;
    font-family: arial;
}

.container .col-md-6 .form
{
    float: left;
    margin: 2% 0 0 4%;
    padding: 0;
    font-family: helvi;
    width: 95%;
}

.container .col-md-6 .form .form_row
{
    float: left;
    margin: 0 0 10px;
    padding: 0;
    width: 100%
}

.container .col-md-6 .form .form_row input
{
    float: left;
    margin: 0;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 6px 4px;
}

.container .col-md-6 .form .form_row textarea
{
    float: left;
    margin: 0;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 6px 4px;
}

.container .col-md-6 .form .form_row .register
{
   float: left;
   background-color: #00aeef;
   padding: 10px 15px;
   border-radius: 10px;
   cursor: pointer;
   width: 25%;
   min-width: 80px;
   text-align: center;
   margin: 0 0 0 65%;
}

.container .col-md-6 .form .form_row .register:hover
{
    background-color: #0093ca;
}

.container .col-md-6 .form .form_row .register p
{
   color: #fff;
   margin: 0;
   padding: 0;
   width: auto;
}

.container .col-md-6 .form .form_row label
{
    color: #F00;
    text-align: center;
    clear: both;
    width: 80%;
    font-size: 20px;
    font-family: helvi;
    display: none;
}

.container .col-md-6 iframe
{
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    font-family: arial;
    width: 90%;
    height: 500px;
}

frameset {
    border: medium none;
    display: block;
    float: none;
    overflow: -moz-hidden-unscrollable;
    position: static;
}
[dir="ltr"] {
    direction: ltr;
}





